/**** ANIMAÇÕES ****/
.rick-image {
    animation-duration: 3s;
    display: flex;
    animation-name: slidein;
    animation: slidein 5s ease-in-out infinite;
    position: relative;
    align-self: center;
    width: 30rem;
}

@keyframes slidein {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-70px)
    }
}




.container-home{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}





.card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
}

/*Text*/
.text-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-body {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
}



/*Hover*/


.card-button:hover {
    background: rgba(218, 77, 77, 0.4);
    color: #f5f5f5;
}



.home-title{
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 5rem;
}

.text-home{
    margin-top: -2rem;
    font-size: 4rem;
    text-align: end;
    color: #BDFFA1;
    font-weight: 200;
}

.text-title{
    font-size: 5.5rem;
    text-align: end;
    color: #ffffff;
    font-weight: 900;
    margin-top: -2rem;
}



.home_api-link{
    color: #ffffff;
    display: flex;
    gap: .5rem;
    font-size: .7rem;
}

.explore,
.text-home span{
    font-weight: 600;
}

.home_api-link a{
    color: #BDFFA1;
    font-weight: 600;
}




@media (max-width: 820px) {

    .container-home {
        display: flex;
        flex-direction: column-reverse;

    }
    .home-title {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }
    .text-title {
        text-align: center;
        color: #ffffff;
        font-weight: 900;
        margin-top: -2rem;
        font-size: 3rem;
    }
    .text-home{
        font-size: 2rem;
    }
    .rick-image {
        animation-duration: 3s;
        display: flex;
        width: 20rem;
    }

}