* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.dropdown {
    position: fixed;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20%;
    font-family: 'Prompt', sans-serif;
    background-position: bottom;
    backdrop-filter: blur(2px);
    background-color: #000;

}

.menu-container {
    backdrop-filter: blur(12px);
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    gap: 24px;
    background-color: #000;
}

.search-jogos {
    height: 3rem;
    width: 40rem;
    background: transparent;
    border: #fff .2px solid;
    border-radius: 10px;
}

#root {
    grid-area: main;
}



.logo {
    filter: invert(20%);
    margin-left: 4rem;
}

.menu-components a {
    color: #fff;
    padding: .1rem;
    transition: .4s;

}


.menu-rotas {
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    gap: 24px;
    margin-right: 5rem;
}

/****************************************/

.menu-components:hover {
    text-shadow: 3px 3px #BDFFA1;
}

.menu-components a:hover {
    color: #BDFFA1;

}


@media (max-width:1100px) {
    .header_menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        gap: 1.5rem;
    }

    .legenda-status_componentes {
        gap: .5rem;
        width: 50%;
    }
}


body {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    /* A altura só é vista quando a rolagem é horizontal */
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: #BDFFA1;
}