* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    grid-area: header;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.dropdown {
    position: fixed;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "main main"
        "footer footer";
    grid-template-rows: 80px 2fr 2fr 70px;
    grid-template-columns: 20%;
    position: fixed;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-position: bottom;
    backdrop-filter: blur(2px);

}

.menu-container {
    backdrop-filter: blur(12px);
    color: #000;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    gap: 24px;
}

.search-jogos{
    height: 3rem;
    width: 40rem;
    background: transparent;
    border: #fff .2px solid;
    border-radius: 10px;
}

#root {
    grid-area: main;
    
}

.footer{
    grid-area: footer;
}

.logo{
    filter: invert(20%);
}

.menu-components a{
    color: #000;

}

.container-vermelho {
    background-color: red;
}

.container-azul {
    background-color: blue;
}

.container-marrom {
    background-color: #7A3D1F;
}

.container-lilas {
    background-color: #C694F6;
}

.menu-rotas{
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    gap: 24px;
}
/****************************************/


.card- {
    padding: 1rem;
    width: max-content;
}

.menu-dropdown_title:hover {
    color: #ffffff;
    transition: .2s;
}

.menu-dropdown_status {
    width: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.legenda-status_componentes {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    padding: .5rem;
}

.dropdown-place {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    padding: .5rem;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-dropdown_content {
    display: none;
    height: max-content;
    position: absolute;
    background-color: #000;
    border: solid #fff .5px;
    color: #000;
    min-width: 12rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: max-content;
}

.dropdown:hover .menu-dropdown_content {
    display: block;
}

.dropdown:hover .menu-dropdown_title {
    color: #ffffff;
    transition: .2s;
}

.menu_plataformas-pc:hover {
    background-color: #ffffff;
    color: #3347B0;
    transition: .4s;
}



@media (max-width:1100px) {
    .header_menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        gap: 1.5rem;
    }

    .legenda-status_componentes {
        gap: .5rem;
        width: 50%;
    }
}

/*************************** TESTE ***********************************/